{{define "content"}}
<main class="about">
  <aside>
      <figure>
          <img src="//www.gravatar.com/avatar/8f45b22841bba3868c141f3ca3470139.png?s=150" alt="Rafal Proszowski" />
          <figcaption>
              <h3>Rafal Proszowski</h3>
              Twitter: <a href="//twitter.com/paroxp" target="_blank" rel="external nofollow" title="Twitter">@paroxp</a>
          </figcaption>
      </figure>

      {{range $key, $value := .Skills}}
      <element name="{{$value.Name}}">
          <label>{{$value.Name}}</label>
          <progress value="{{$value.Score}}" max="100"></progress>
          <details open>
              <summary>{{$value.Name}}</summary>
              {{$value.Body}}
          </details>
      </element>
      {{end}}

      <p>
          I do hate these scales. Everyone has a different understanding of them. Don't take them seriously...
          In fact, if you'd like to know more, ask! I'll be more than happy to explore the topic with you :D
      </p>
  </aside>

  <section>
    {{.Body}}
  </section>
</main>
{{end}}
