.entering {
  opacity: 0.01;
  position: absolute;
  @include transition(all .3s ease-in);

  + footer[role=contentinfo] {
    opacity: 1;

    @include transition(all .3s ease-in);
  }
}

.entering.active {
  opacity: 1;
}

.leaving {
  opacity: 1;
  position: absolute;
  @include transition(all .3s ease-in);

  + footer[role=contentinfo] {
    opacity: 0;
  }
}

.leaving.active {
  opacity: 0;
}
