/**
 * Our custom button, to be used throughout the project.
 */
@mixin button() {
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  display: inline-block;
  padding: .3rem;
  text-align: center;
  @include transition(all .3s ease);

  @content;
}

/**
 * We might need to clearfix some stuff using mixin!
 */
@mixin clearfix() {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

/**
 * Ability to use shorthand media query in our project.
 */
@mixin min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
