$defaultOpacity: .9;

.notification-stack {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  @include min($tablet) {
    max-width: $mobile;
  }

  .notification {
    background-color: $silver;
    @include prefixer(box-shadow, 0 0 rem(16) $silver, webkit moz ms o spec);
    cursor: pointer;
    margin: 0 8px 8px 0;
    margin: 0 rem(8) rem(8) 0;
    padding: 8px;
    padding: rem(8);

    &:first-of-type {
      margin: 8px 8px 8px 0;
      margin: rem(8) rem(8) rem(8) 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include min($tablet) {
      margin: 0 16px 16px 0;
      margin: 0 rem(16) rem(16) 0;
      padding: 16px;
      padding: rem(16);

      &:first-of-type {
        margin: 16px 16px 16px 0;
        margin: rem(16) rem(16) rem(16) 0;
      }
    }

    h5 {
      font-size: 14px;
      font-size: rem(14);
      margin-top: 0;
    }

    p {
      font-size: 12px;
      font-size: rem(12);
      margin: 0;
    }

    &.failure {
      background-color: $maroon;
      color: $white;
    }

    &.info {
      background-color: $blue;
      color: $white;
    }

    &.success {
      background-color: $olive;
      color: $white;
    }

    &.warning {
      background-color: $orange;
      color: $white;
    }
  }
}