header[role=banner], main[role=main], footer[role=contentinfo] {
  margin: 0 1rem;
  max-width: 48rem;

  @include clearfix;

  @include min(48em + 1em) {
    margin: 0 auto;
  }
}

header[role=banner] {
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;

  @include min(40em) {
    margin: 1rem auto;
    text-align: inherit;
  }

  figure {
    margin: 0 0 1rem;
    padding: 0;

    @include min(40em) {
      margin: 0;

      @include span(first 6 of 12);
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 6rem;

      @include min(40em) {
        margin: 0;
      }
    }
  }

  a {
    font-weight: 400;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @include min(40em) {
      left: 0;
      margin-top: -12.5px;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  ul li {
    margin: .5rem 0;

    @include min(40em) {
      display: inline-block;
      margin: 0 .5rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  nav + a {
    display: block;
    margin: .5rem 0;

    @include min(40em) {
      display: none;
    }
  }

  nav {
    display: block;
    height: 0;
    overflow: hidden;;
    position: relative;
    @include clearfix;

    @include transition(all .3s ease);

    &.active {
      height: rem(140);
    }

    @include min(40em) {
      @include span(last 6 of 12);

      height: auto;
      min-height: 6em;
      overflow: initial;
      text-align: right;
    }
  }
}

footer[role=contentinfo] {
  margin-top: 1rem;
  text-align: center;

  @include min(40em) {
    margin-top: 3rem;
    text-align: left;
  }

  a {
    height: 2.25em;
    width: 2.25em;

    @include button() {
      background-color: $olive;
      color: $white;

      &:active, &:hover {
        background-color: lighten($olive, 3);
      }
    }
  }

  .copyright {
    text-transform: uppercase;

    @include min(40em) {
      @include span(first 6 of 12);
    }
  }

  .social {
    cursor: default;
    @include user-select(none);

    @include min(40em) {
      @include span(last 6 of 12);
      text-align: right;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
  }
}