body > main.contact {
  aside {
    font-size: 26px;
    font-size: rem(26);
    text-align: center;

    @include min($tablet) {
      @include span(6 of 12);
    }
  }

  form {
    background-color: #f0f0f0;
    margin-bottom: 1.5rem;
    padding: 1.5rem;

    @include min($tablet) {
      @include span(last 6 of 12);
    }

    input, textarea, button {
      width: 100%;
    }
  }
}