{{ partial "header" . }}

<main class="about">
  <aside>
      <figure>
          <img src="{{ .Params.avatar }}" alt="{{ .Params.author }}" />
          <figcaption>
              <h3>{{ .Params.author }}</h3>
              Twitter: <a href="//twitter.com/{{ .Params.twitter }}" target="_blank" rel="external nofollow" title="Twitter">@{{ .Params.twitter }}</a>
          </figcaption>
      </figure>

      {{ range $key, $value := .Params.skills }}
        {{ partial "about/skill" . }}
      {{ end }}

      <p>
          I do hate these scales. Everyone has a different understanding of them. Don't take them seriously...
          In fact, if you'd like to know more, ask! I'll be more than happy to explore the topic with you :D
      </p>
  </aside>

  <section>
    {{ .Content }}
  </section>
</main>

{{ partial "footer" . }}
