root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[**vendor**]
indent_size =
indent_style =
charset =
end_of_line =
insert_final_newline =
trim_trailing_whitespace =
max_line_length =
