body > main.about {
  section {
    padding: 0 1rem;

    @include min($tablet) {
      @include span(first 8 of 12);
      padding: 0;
    }

    @media print {
      @include span(first 8 of 12);
    }

    ol, ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    p, ol, ul {
      margin: 1rem 0;
    }
  }

  aside {
    @include min($tablet) {
      @include span(last 4 of 12);
    }

    @media print {
      @include span(last 4 of 12);
    }

    figure {
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
      text-align: center;
      @include clearfix;

      img {
        border: 3px solid $white;
        border-radius: 100%;
        box-shadow: 0 0 10px rgba($navy, .25);
        display: inline-block;
        margin-bottom: 1rem;
      }

      figcaption {
        width: 100%;
      }
    }

    element {
      display: block;
      padding: .5rem 1rem;
      position: relative;

      &:before {
        @include min($tablet) {
          border: solid transparent;
          border-color: rgba(240, 240, 240, 0);
          border-left-color: #f0f0f0;
          border-width: 10px;
          content: " ";
          display: none;
          height: 0;
          margin-left: -1rem;
          margin-top: .25rem;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          width: 0;
          z-index: 1;

          transition: all .3s ease;
        }
      }
    }

    element label {
      display: block;
    }

    element progress {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      display: block;
      -webkit-print-color-adjust: exact;
      -moz-print-color-adjust: exact;
      -ms-print-color-adjust: exact;
      width: 100%;

      &::-webkit-progress-bar {
        background-color: #eee;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        box-shadow: 0 2px 5px rgba($gray, 0.25) inset;
      }

      &::-ms-fill {
        background-color: $olive;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &::-webkit-progress-value {
        background-color: $olive;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &::-moz-progress-bar {
        background-color: $olive;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }

    element details {
      background-color: #f0f0f0;
      margin-top: 1rem;
      padding: 1.5rem;
      width: 100%;

      @include min($tablet) {
        box-shadow: 0 0 10px rgba($gray, .5);
        display: none;
        left: -100%;
        margin: 0;
        margin-top: -50%;
        opacity: 0;
        position: absolute;
        top: 0;

        transition: all .3s ease;
      }

      @media print {
        display: none;
      }

      summary, summary::-webkit-details-marker {
        display: none;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    element:hover {
      &:before {
        @include min($tablet) {
          display: block;
          opacity: 1;
        }
      }

      details {
        @include min($tablet) {
          display: block;
          opacity: 1;
        }
      }
    }

    > p {
      font-size: 14px;
      font-size: .75rem;
      text-align: center;
      padding: 0 1.5rem;
    }
  }
}
