body > main.home {
  font-size: 26px;
  font-size: 1.625rem;
  text-align: center;

  img, svg {
    max-width: 10rem;

    &.desktop {
      display: none;
    }

    @include min($tablet) {
      display: block;
      margin: 0 auto;
      max-width: 20rem;

      &.desktop {
        display: initial;
      }

      &.mobile {
        display: none;
      }
    }
  }
}
