[data-details] {
  display: block;

  > summary, &[open] > summary {
    list-style: none;
    list-style-type: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  summary .icon {
    display: none;
  }

  @include min(map_get($width, 'tablet')) {
    @media screen {
      summary .icon {
        display: block;
        float: left;
        height: 1em;
        width: 1em;
        text-align: center;

        &.open {
          display: none;
        }

        svg {
          fill: map_get($light-mode, 'foreground');
          margin-top: 0.25em;
          max-height: 1em;
          max-width: 1em;

          @media screen and (prefers-color-scheme: dark) {
            fill: map_get($dark-mode, 'foreground');
          }
        }
      }

      &.active summary .icon {
        &.open {
          display: block;
        }

        &.closed {
          display: none;
        }
      }

      summary .icon + div {
        margin-left: 1.3em;
      }
    }
  }

  > *:not(summary) {
    @include min(map_get($width, 'tablet')) {
      display: none;
    }
  }

  &.active > *:not(summary) {
    @include min(map_get($width, 'tablet')) {
      display: block;
    }
  }
}

#beardPath,
#topLeftSwordHandlePath,
#topRightSwordHandlePath,
#bottomLeftSwordBladePath,
#bottomRightSwordBladePath {
  stroke: none;
  fill-rule: nonzero;
  fill: map_get($light-mode, 'foreground');
  fill-opacity: 1;

  @media screen and (prefers-color-scheme: dark) {
    fill: map_get($dark-mode, 'foreground');
  }
}

#topLeftSwordHandlePath,
#topRightSwordHandlePath,
#bottomLeftSwordBladePath,
#bottomRightSwordBladePath {
  fill-rule: evenodd;
}
