html {
  background-color: $white;
  box-sizing: border-box;
  color: $black;
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;

  @media screen and (prefers-color-scheme: dark) {
    background-color: $black;
    color: $white;
  }

  @media print {
    font-size: 10px;
    font-size: .625rem;
    line-height: 1.2;
  }
}

* {
  box-sizing: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.visually-hidden {
  @include govuk-visually-hidden();
}

.no-print {
  @media print {
    display: none;
  }
}

::-moz-selection { background-color: $purple; color: $white; }
::selection { background-color: $purple; color: $white; }
