body {
  margin: 0 1rem;
  max-width: 48rem;
  position: relative;

  @media print {
    margin: 0;
    max-width: 100%;
  }

  @include clearfix;

  @include min(48em + 1em) {
    margin: 0 auto;
  }

  > header, > main, > footer {
    @include clearfix;
  }

  > header {
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;

    > h1, > h2 {
      display: none;

      @media print {
        display: block;
        line-height: 1.3;
        margin-bottom: 0;
        text-transform: none;
      }
    }

    > h2 {
      @media print {
        color: $gray;
        font-weight: 300;
        margin: 0;
      }
    }

    @include min($tablet) {
      margin: 1rem auto;
      text-align: inherit;
    }

    @media print {
      margin: 0;
      margin-bottom: 16px;
      margin-bottom: 1rem;
      text-align: left;
    }

    figure {
      margin: 0 0 1rem;
      padding: 0;

      @include min($tablet) {
        float: left;
        margin: 0;
        margin-right: gutter(6 of 12);
        width: span(6 of 12);
      }

      @media print {
        display: none;
      }

      img, svg {
        display: block;
        margin: 0 auto;
        max-width: 6rem;

        @include min($tablet) {
          margin: 0;
        }
      }
    }

    a {
      font-weight: 400;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @include min($tablet) {
        display: flex;
        justify-content: flex-end;
        left: 0;
        margin-top: -12.5px;
        position: absolute;
        right: 0;
        top: 50%;
      }

      @media print {
        display: none;
      }
    }

    ul li {
      display: inline-block;
      margin: .5rem .5rem;

      @include min($tablet) {
        margin: 0 .5rem;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    nav + a {
      display: block;
      margin: .5rem 0;

      @include min($tablet) {
        display: none;
      }

      @media print {
        display: none;
      }
    }

    nav {
      display: block;
      position: relative;
      @include clearfix;

      @include min($tablet) {
        float: right;
        height: auto;
        margin-right: 0;
        min-height: 6em;
        overflow: initial;
        text-align: right;
        width: span(6 of 12);
      }

      @media print {
        display: none;
      }
    }
  }

  > footer {
    margin-bottom: .5rem;
    margin-top: 1rem;
    text-align: center;

    @include min($tablet) {
      margin-top: 3rem;
      text-align: left;
    }

    @media print {
      display: none;
    }

    a, a:link, a:visited {
      height: 2.25em;
      width: 2.25em;

      @include button() {
        svg path {
          fill: $gray;
        }

        &:active, &:hover {
          fill: $olive;

          &.github svg path {
            fill: map_get($social, 'github');

            @media screen and (prefers-color-scheme: dark) {
              fill: $white;
            }
          }

          &.twitter svg path {
            fill: map_get($social, 'twitter');
          }

          &.mastodon svg path {
            fill: map_get($social, 'mastodon');
          }

          &.linkedin svg path {
            fill: map_get($social, 'linkedin');
          }

          &.spotify svg path {
            fill: map_get($social, 'spotify');
          }
        }
      }
    }

    .copyright {
      line-height: 2.5;
      text-transform: uppercase;

      @include min($tablet) {
        float: left;
        margin-right: gutter(6 of 12);
        width: span(6 of 12);
      }
    }

    .icons {
      cursor: default;
      user-select: none;

      @include min($tablet) {
        float: right;
        margin-right: 0;
        text-align: right;
        width: span(6 of 12);
      }
    }

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;

      @include min($tablet) {
        justify-content: flex-end;
      }
    }

    ul li {
      display: inline-block;
      margin: .075rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
