a, a:link, a:visited {
  color: $olive;
  text-decoration: none;

  transition: all .3s ease;
}

a:hover, a:active, a.active {
  color: $maroon;

  @media screen and (prefers-color-scheme: dark) {
    color: $fuchsia;
  }
}

blockquote {
  border-left: 1px solid $silver;
  display: block;
  margin: 0;
  margin-bottom: .5rem;
  padding: 0;
  padding-left: .5rem;

  cite {
    color: $gray;
    display: block;
    font-size: 90%;

    &:before {
      content: "- "
    }
  }

  q {
    display: block;
  }
}

code {
  background-color: $silver;
  border: 1px solid $gray;
  display: block;
  padding: .5rem;
}

h1 {
  font-size: 30px;
  font-size: 1.875rem;

  @include min($tablet) {
    font-size: 38px;
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;

  @include min($tablet) {
    font-size: 32px;
    font-size: 2rem;
  }
}

h3 {
  font-size: 19px;
  font-size: 1.1875rem;

  @include min($tablet) {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 16px;
  font-size: 1rem;

  @include min($tablet) {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: .25rem 0 .5rem;

  small {
    color: $gray;
    font-size: 60%;
    font-weight: normal;
  }
}

hr {
  border: none;
  border-bottom: 1px solid $white;
  border-top: 1px solid $silver;
}

pre {
  background-color: $black;
  color: $white;
  display: block;
  padding: .5rem;
}

table {
  border: 1px solid $gray;
  width: 100%;

  th, td {
    padding: .25rem .5rem;
  }

  th {
    background-color: lighten($silver, 5);
    text-align: left;
  }

  tr:nth-of-type(even) {
    background-color: lighten($silver, 10);
  }
}
