a, a:link, a:visited {
  color: map_get($light-mode, 'link');
  text-decoration: none;

  transition: all .3s ease;

  @media screen and (prefers-color-scheme: dark) {
    color: map_get($dark-mode, 'link');
  }
}

a:hover, a:active, a.active {
  color: map_get($light-mode, 'link-active');

  @media screen and (prefers-color-scheme: dark) {
    color: map_get($dark-mode, 'link-active');
  }
}

h1 {
  font-size: 30px;
  font-size: 1.875rem;

  @include min(map_get($width, 'tablet')) {
    font-size: 38px;
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;

  @include min(map_get($width, 'tablet')) {
    font-size: 32px;
    font-size: 2rem;
  }
}

h3 {
  font-size: 19px;
  font-size: 1.1875rem;

  @include min(map_get($width, 'tablet')) {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 16px;
  font-size: 1rem;

  @include min(map_get($width, 'tablet')) {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: .25rem 0 .5rem;

  small {
    color: map_get($light-mode, 'secondary');
    font-size: 60%;
    font-weight: normal;

    @media screen and (prefers-color-scheme: dark) {
      color: map_get($dark-mode, 'secondary');
    }
  }
}
