$light-mode: (
  background: #fff,
  foreground: #0b0c0c,
  secondary: #505a5f,
  highlight: #ffb3aa,
  highlight-color: #272727,
  link: #308559,
  link-active: #9e3834,
);

$dark-mode: (
  background: #0b0c0c,
  foreground: #fff,
  secondary: #a8afba,
  highlight: #ffb3aa,
  highlight-color: #272727,
  link: #3fa46c,
  link-active: #f0655d,
);

$social: (
  github: #333333,
  linkedin: #007bb6,
  mastodon: #6364ff,
);

// View break ports.
$mobile: 20em;
$tablet: 48rem;
$desktop: 60rem;
