@import "core";

body > header.about {
  > div {
    display: block;
  }
}

body > main#about {
  strong {
    @media print {
      font-weight: 600;
    }
  }

  section {
    padding: 0;
    width: 100%;
  }

  section#skills {
    ul[data-skills] {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        cursor: pointer;
        display: inline-block;
        line-height: 1.6;
        margin-right: 1rem;

        @media screen {
          font-size: 14px;
          font-size: 0.875rem;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &.highlight {
          @media screen {
            color: map_get($light-mode, 'link-active');
            text-decoration: underline;

            @media screen and (prefers-color-scheme: dark) {
              color: map_get($dark-mode, 'link-active');
            }
          }

          @media print {
            font-weight: 600;
          }
        }
      }
    }
  }

  section#timeline {
    h3 {
      margin-top: 1rem;
    }

    ol, ul {
      margin: 0;
      padding-left: 1rem;

      > li {
        margin: .75rem 0;
      }

      @media print {
        padding-left: 1.5rem;

        > li {
          margin: .25rem 0;
        }
      }
    }

    details {
      @media print {
        margin-bottom: 1rem;
        page-break-inside: avoid;
      }

      summary {
        cursor: pointer;
        display: inline-block;
        outline: none;

        @media print {
          font-weight: 400;
          margin-bottom: .5rem;
        }

        span.link {
          display: none;
          font-weight: 300;

          @media print {
            display: inline;
          }
        }
      }

      p {
        margin: 0;
        padding: 0;
      }

      ul {
        margin: .25rem;
        margin-left: 1.5rem;

        @media print {
          margin: .5rem;
        }
      }

      div.embedded {
        @media screen {
          margin-left: 1.3rem;

          ul {
            margin-left: 0;
          }
        }
      }
    }

    [data-details=no-print] > *:not(summary) {
      @media print {
        display: none;
      }
    }
  }
}
